$header-main-height:50;

.header-main{
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #fcfcfc;
  //background-color: #888888;
  width: 100%;
  height: $header-main-height+px;
  padding: 0;
  margin: 0;
  z-index: 1;
  position: absolute;
  top:0;
  &__logo{
    position: relative;
    top: $header-main-height / 2+px;
    transform: translateY(-50%);
    margin: 0 0 0 20px;
    padding: 0;
    float: left;
  }
  &__info{
    float: right;
    height: 100%;
    margin: 0 20px 0 0;
    padding: 0;
    &_userinfo{
      float: left;
      margin: inherit;
      padding: inherit;
      top: $header-main-height / 2+px;
      transform: translateY(-50%);
      position: relative;
    }
    &_logout{
      float: right;
      margin: 0;
      padding: 0 11px;
      top: $header-main-height / 2+px;
      transform: translateY(-50%);
      position: relative;

      background-color: #be7769;
      color: #000;
      font: inherit;
      font-weight: 400;
      border: none;
    }
  }
}
