.mobile-control {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 20px 0;
  text-align: center;

  &__list {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  &__indicator {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: no-repeat;

    &_active {
      background-image: url('../../img/indicator_active.png');
    }

    &_passive {
      background-image: url('../../img/indicator_passive.png');
    }
  }

  &__arrows{
    box-sizing: border-box;
    height: 105px;
    margin: 220px 0 60px;
  }

  &__arrow{
    width: 47px;
    height: 105px;
    background: no-repeat;

    &_left{
      float: left;
      background-image: url('../../img/left_arrow.png');
    }

    &_right{
      float: right;
      background-image: url('../../img/right_arrow.png');
    }
  }
}