.weather {
  height: 85%;
  text-align: center;

  &_fog {
    background-color: #75608b;
  }

  &_snow-fall {
    background-color: #1a6698;
  }

  &_partly-cloudy{
    background-color: #f1854f;
  }

  &_mostly-cloudy {
    background-color: #1d9e48;
  }

  &_sunny {
    background-color: #f2385a;
  }

  &_downpour {
    background-color: #675680;
  }

  &_rain-and-sun {
    background-color: #e9e841;
  }

  &_light-rain {
    background-color: #bda881;
  }

  &_rain {
    background-color: #999999;
  }

  &_snow {
    background-color: #375d81;
  }

  &_sleet {
    background-color: #36b1bf;
  }

  &__pic {
    height: 28vh;
    min-height: 150px;
    text-align: center;
    background: no-repeat 50%;

    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 28vh;
      vertical-align: middle;
    }
  }

  &__pic-status {
    display: inline-block;
    vertical-align: middle;
    background: url('../../img/weather_state.png') no-repeat;

    &_fog {
      @include weather_pic(0, 0, 142px, 108px);
    }

    &_snow-fall {
      @include weather_pic(-160px, 0, 148px, 122px);
    }

    &_partly-cloudy {
      @include weather_pic(-325px, 0, 170px, 112px);
    }

    &_sunny {
      @include weather_pic(-1px, -300px, 142px, 142px);
    }

    &_downpour {
      @include weather_pic(0, -150px, 148px, 101px);
    }

    &_mostly-cloudy {
      @include weather_pic(-160px, -150px, 148px, 90px);
    }

    &_rain-and-sun {
      @include weather_pic(-325px, -150px, 170px, 142px);
    }

    &_snow {
      @include weather_pic(-160px, -300px, 143px, 144px);
    }

    &_light-rain {
      @include weather_pic(-325px, -300px, 148px, 120px);
    }

    &_rain {
      @include weather_pic(-500px, 0, 148px, 120px);
    }

    &_sleet {
      @include weather_pic(-500px, -150px, 148px, 123px);
    }
  }


  &__temperature {
    padding: 55px 0;

    &_day {
      display: inline-block;
      height: 73px;
      vertical-align: bottom;
      font-size: 3.1em;
      line-height: 74px;
      font-weight: bold;
    }

    &_night {
      display: inline-block;
      padding-left: 14px;
      text-align: left;
      vertical-align: bottom;
    }
  }

  &__temperature-night-value {
    height: 26px;
    font-size: 1.2em;
    line-height: 27px;
  }

  &__temperature-night-header {
    padding-bottom: 20px;
    font-size: .6em;
  }

  &__status {
    height: 31px;
    text-transform: capitalize;
    line-height: 32px;
  }

  &__additional {
    position: relative;
    display: inline-block;
    min-width: 68px;
    min-height: 110px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    vertical-align: top;
    font-size: .6em;
  }

  &__humidity {
    display: none;
  }

  &__humidity-icon {
    margin-top: 27px;
    background: url('../../img/humidity.png') no-repeat;

    &_hm2 {
      @include humidity(0, 0);
    }

    &_hm1 {
      @include humidity(-199px, 0);
    }

    &_hm0 {
      @include humidity(-98px, 0);
    }
  }

  &__wind-icon {
    position: relative;
    padding-top:50px;

    &_n:after {
      @include wind(0deg);
    }

    &_ne:after {
      @include wind(45deg);
    }

    &_e:after {
      @include wind(90deg);
    }

    &_se:after {
      @include wind(135deg);
    }

    &_s:after {
      @include wind(180deg);
    }

    &_sw:after {
      @include wind(225deg);
    }

    &_w:after {
      @include wind(270deg);
    }

    &_nw:after {
      @include wind(315deg);
    }
  }

  &__moon-icon {
    margin-top: 33px;
    background: url('../../img/moon_state.png') no-repeat;

    &_mn0 {
      @include moon(0, 0);
    }

    &_mn1 {
      @include moon(-72px, 0);
    }

    &_mn2 {
      @include moon(-150px, 0);
    }

    &_mn3 {
      @include moon(-230px, 0);
    }

    &_mn4 {
      @include moon(-300px, 0);
    }

    &_mn5 {
      @include moon(-375px, 0);
    }
  }


  &__additional-icon {
    box-sizing: border-box;
    height: 88px;
    background-repeat: no-repeat;
  }
}