@font-face{
    font-family: Lintel-Regular;

    src: local('Lintel-Regular'),
    url(fonts/Lintel-Regular.eot);
}

@font-face{
    font-family: Lintel-Regular;

    src: local('Lintel-Regular'),
    url(fonts/Lintel-Regular.otf);
}

