$ cat .gitignore

# check what will be with private_folder_inner
private_folder*/

# check what will be with files which contain "private_file" in name. If it see onto extensions
*private_file*

# check if other files and folders are commited
# like public_file.txt

.idea/

*some_folder*/