.dashboard {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  font-family: $font_family;
  font-size: $font_size;
  color: $label_color;

  &__greeting {
    display: inline-block;
  }

  &_active {
    display: block;
  }

  &_hidden {
    display: none;
  }

  &__log-out {
    width: 27px;
    height: 22px;
    margin-right: 5px;
    border: none;
    background: url('../img/exit.png') no-repeat 0 0;
    cursor: pointer;
  }
}