.dashboard {
  position: absolute;
  left: 0;
  top: 0;
  font-family: $font_family;
  font-size: $font_size;
  color: $label_color;
  padding: 20px;
  width:300px;

  &__greeting {
    display: inline-block;
    padding-right: 30px;
    width:150px;
  }

  &_active {
    display: block;
  }

  &_hidden {
    display: none;
  }

  &__log-out {
    width: 27px;
    height: 22px;
    background: url("../img/exit.png") no-repeat 0 0;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
}