$form_width: 650px;
$form_height: 550px;
$font_family: 'Titillium Web', sans-serif;
$background_color: #262626;
$label_color: #F6F6F6;
$button_color: #69B0BE;

body {
  width: 100%;
  //background-color: $background_color;
}

.login-form {
  background-color: $background_color;
  font-family: $font_family;
  font-size: 30pt;
  font-weight: lighter;
  color: $label_color;
  width: $form_width;
  height: $form_height;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &__label {
    display: inline-block;
    margin-left: 18px;
    margin-bottom: 8px;
    margin-top: 30px;
    padding-top: 10px;
  }

  &__input {
    padding-left: 10px;
    margin: 0 0 0 18px;
    width: 590px;
    height: 81px;
    border: none;
    color: #000000;
  }

  &__submit-button {
    display: block;
    float: right;
    margin: 40px 32px 0 0;
    width: 140px;
    height: 79px;
    background-color: $button_color;
    color: #000;
    border: none;
    cursor: pointer;
  }
}







