
$font_family: 'Titillium Web', sans-serif;
$font_size: 15pt;
$label_color: #F6F6F6;

$side_margin: 0px;
$form_width: 300px;
$form_height: 246px;

$label_margin_top: 15px;
$label_padding_top: 5px;
$label_margin_bottom: 6px;

$button_width: 70px;
$input_height: 39px;
$button_color: #69B0BE;
$button_color_text: #000000;


.popup__overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95);
  text-align: center;
  z-index: 999;
  &:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
  }

  &_active {
    display: block;
  }

  &_hidden {
    display: none;
  }
}

.login-form {
  font-family: $font_family;
  font-size: $font_size;
  color: $label_color;
  width: $form_width;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: $form_height;
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &__label {
    display: block;
    margin: $label_margin_top 0 $label_margin_bottom;
    padding-top: $label_padding_top;

    &:first-child{
      margin-top: 0;
      padding-top: 0;
    }
  }

  &__input {
    padding-left: 10px;
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: $input_height;
    border: none;
    color: $button_color_text;
  }

  &__submit-button {
    display: block;
    float: right;
    margin: 20px 0 0;
    width: $button_width;
    height: $input_height;
    background-color: $button_color;
    color: #000;
    border: none;
    cursor: pointer;
  }
}




