@import "../../bower_components/normalize.css/normalize.css";
@import "fonts.scss";
@import "var.scss";
@import "mixin.scss";
@import "form.scss";
@import "settings";
@import "dashboard";
@import "mobileControl";

.main-page {
  box-sizing: border-box;
  height: 100vh;
  min-height: 620px;
  color: $label_color;
  background-color: #262626;
  font-family: 'Lintel', sans-serif;
  font-size: 23pt;
}

.info {
  float:left;
  width: 35%;
  margin-top: 170px;
  padding-left: 1.5%;

  &__time {
    margin-bottom: 40px;
  }

  &__time-value {
    display: inline-block;
    vertical-align: top;
    font-size: 5em;
    line-height: .8em;
    font-weight: bold;
  }

  &__time-notation {
    position: relative;
    display: inline-block;
    margin-left: -12px;
    vertical-align: top;
    text-transform: uppercase;
    font-size: .9em;
    line-height: .9em;
  }

  &__day {
    margin: 65px 0;
  }
}

.location {
  padding-left: 40px;
  background: url('../img/icon-loc.png') no-repeat;

  &__city {
    height: 24px;
    padding-bottom: 5px;
    padding-left: 2px;
    font-size: 1em;
    line-height: 25px;
  }

  &__country {
    padding-top: 5px;
    font-size: .6em;
  }

  &__text {
    display: none;
  }
}

.forecast {
  float: right;
  box-sizing: border-box;
  width: 63%;
  height: 100%;
}

.forecast-item {
  float: right;
  box-sizing: border-box;
  width: 33.33%;
  height: 100%;

  &__day {
    box-sizing: border-box;
    height: 15%;
    padding: 15px 0;
    text-align: center;
  }

  &__day-date {
    display: inline-block;
    vertical-align: middle;
  }

  &__day-date-header {
    font-size: 1em;
  }

  &__day-date-value {
    font-size: .6em;
  }
}

.weather {
  height: 85%;
  text-align: center;

  &_fog {
     background-color: #75608b;
  }

  &_snow-fall {
    background-color: #1a6698;
  }

  &_partly-cloudy{
    background-color: #f1854f;
  }

  &_mostly-cloudy {
     background-color: #1d9e48;
  }

  &_sunny {
     background-color: #f2385a;
  }

  &_downpour {
    background-color: #675680;
  }

  &_rain-and-sun {
    background-color: #e9e841;
  }

  &_light-rain {
    background-color: #bda881;
  }

  &_rain {
    background-color: #999999;
  }

  &_snow {
    background-color: #375d81;
  }

  &_sleet {
    background-color: #36b1bf;
  }

  &__pic {
    height: 28vh;
    min-height: 150px;
    text-align: center;
    background: no-repeat 50%;

    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 28vh;
      vertical-align: middle;
    }
  }

  &__pic-status {
    display: inline-block;
    vertical-align: middle;
    background: url('../img/weather_state.png') no-repeat;

    &_fog {
      @include weather_pic(0, 0, 142px, 108px);
    }

    &_snow-fall {
      @include weather_pic(-160px, 0, 148px, 122px);
    }

    &_partly-cloudy {
      @include weather_pic(-325px, 0, 170px, 112px);
    }

    &_sunny {
      @include weather_pic(-1px, -300px, 142px, 142px);
    }

    &_downpour {
      @include weather_pic(0, -150px, 148px, 101px);
    }

    &_mostly-cloudy {
      @include weather_pic(-160px, -150px, 148px, 90px);
    }

    &_rain-and-sun {
      @include weather_pic(-325px, -150px, 170px, 142px);
    }

    &_snow {
      @include weather_pic(-160px, -300px, 143px, 144px);
    }

    &_light-rain {
      @include weather_pic(-325px, -300px, 148px, 120px);
    }

    &_rain {
      @include weather_pic(-500px, 0, 148px, 120px);
    }

    &_sleet {
      @include weather_pic(-500px, -150px, 148px, 123px);
    }
  }


  &__temperature {
    padding: 55px 0;
  }

  &__temperature-day {
    display: inline-block;
    height: 73px;
    vertical-align: bottom;
    font-size: 3.1em;
    line-height: 74px;
    font-weight: bold;
  }

  &__temperature-night {
    display: inline-block;
    padding-left: 14px;
    text-align: left;
    vertical-align: bottom;
  }

  &__temperature-night-value {
    height: 26px;
    font-size: 1.2em;
    line-height: 27px;
  }

  &__temperature-night-header {
    padding-bottom: 20px;
    font-size: .6em;
  }

  &__status {
    height: 31px;
    text-transform: capitalize;
    line-height: 32px;
  }

  &__additional {
    position: relative;
    display: inline-block;
    min-width: 68px;
    min-height: 110px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    vertical-align: top;
    font-size: .6em;

    &_humidity {
      display: none;
    }
  }

  &__additional-desc {
    box-sizing: border-box;
    height: 88px;
    background-repeat: no-repeat;

    &_wind {
      position: relative;
      padding-top:50px;

      &_n:after {
        @include wind(0deg);
      }

      &_ne:after {
        @include wind(45deg);
      }

      &_e:after {
        @include wind(90deg);
      }

      &_se:after {
        @include wind(135deg);
      }

      &_s:after {
        @include wind(180deg);
      }

      &_sw:after {
        @include wind(225deg);
      }

      &_w:after {
        @include wind(270deg);
      }

      &_nw:after {
        @include wind(315deg);
      }
    }

    &_moon {
      margin-top: 33px;
      background: url('../img/moon_state.png') no-repeat;

      &_mn0 {
        @include moon(0, 0);
      }

      &_mn1 {
        @include moon(-72px, 0);
      }

      &_mn2 {
        @include moon(-150px, 0);
      }

      &_mn3 {
        @include moon(-230px, 0);
      }

      &_mn4 {
        @include moon(-300px, 0);
      }

      &_mn5 {
        @include moon(-375px, 0);
      }
    }

    &_humidity {
      margin-top: 27px;
      background: url('../img/humidity.png') no-repeat;

      &_hm2 {
        @include humidity(0, 0);
      }

      &_hm1 {
        @include humidity(-199px, 0);
      }

      &_hm0 {
        @include humidity(-98px, 0);
      }
    }
  }
}

@media screen
and (max-width: 1280px)
and (min-width: 568px)
{
  .main-page {
    min-height: 684px;
    overflow: hidden;
  }

  .info {
    float: none;
    box-sizing: border-box;
    width: auto;
    margin-top: 0;
    padding: 20px 20px 5px;

    &__time {
      display: inline-block;
      margin: 0;
    }

    &__time-value {
      font-size: 2em;
    }

    &__time-notation {
      font-size: .6em;
    }

    &__day {
      display: none;
    }
  }

  .location {
    display: inline-block;
    float: right;

    &__country {
      padding-top: 1px;
      font-size: .5em;
    }

    &__text {
      display: none;
    }
  }

  .forecast {
    box-sizing: border-box;
    width: 100%;
  }
  .forecast-item__day {
    height: 13%;
  }

  .dashboard {
    position: static;
    display: inline-block;
    float: right;
  }

  .weather {
    height: 80%;

    &__temperature {
      padding: 30px 0;
    }

    &__pic {
     height: 35%;
    }
  }
}

@media only screen
and (min-width: 568px)
and (max-height: 642px){
  .main-page {
    overflow: auto;
  }
}

@media only screen
and (max-width: 568px) {
  .main-page {
    min-width: 312px;
    min-height: 568px;
    overflow: hidden;
  }

  .dashboard {
    position: absolute;
    z-index: 250;
    top: 0;
    right: 0;
    left: auto;
    float: right;
    width: 27px;

    &__greeting {
      display: none;
    }
  }

  .settings {
    display: block;
  }

  .info {
    width: auto;
    margin: 0;

    &__time {
      display: none;
    }

    &__day {
      display: none;
    }
  }

  .location {
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    left: 0;
    float: right;
    padding-top: 15px;
    padding-left: 0;
    text-align: center;
    background: none;

    &__text {
      display:inline-block;
    }

    &__country {
      display: none;
    }

    &__city {
      display: inline-block;
      margin-right:auto;
      margin-left:auto;
    }
  }

  .forecast {
    float: left;
    width: 100%;
  }

  .forecast-item__day {
    display: none;
  }

  .daily-forecast_tomorrow, .daily-forecast_yesterday {
    display:none;
  }

  .forecast-item {
    position: relative;
    width: 100%;
  }

  .weather {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 80px;

    &__additional {
      padding-right: 15px;
      padding-left: 15px;

      &_humidity {
        display: inline-block;
      }
    }

    &__temperature {
      display: table-header-group;
    }

    &__temperature-day {
      height: 108px;
      font-size: 4.8em;
      line-height: 109px;
      font-weight: normal;

      &:after {
        content: '';
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-left: -35px;
        border: 2px solid #fff;
        border-radius: 50%;
        vertical-align: top;
      }
    }

    &__temperature-night {
      padding-left: 0;
    }
  }

  .mobile-control {
    display: table-cell;
  }
}

@media only screen
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {

  .weather{

    &__pic-status {
      background-size: 324px 222px;

      &_fog {
        @include weather_pic(0, 0, 71px, 54px);
      }

      &_snow-fall {
        @include weather_pic(-80px, 0, 74px, 61px);
      }

      &_partly-cloudy {
        @include weather_pic(-163px, 0, 85px, 56px);
      }

      &_sunny {
        @include weather_pic(0px, -150px, 71px, 71px);
      }

      &_downpour {
        @include weather_pic(0px, -75px, 74px, 50px);
      }

      &_mostly-cloudy {
        @include weather_pic(-80px, -75px, 74px, 45px);
      }

      &_rain-and-sun {
        @include weather_pic(-162px, -75px, 85px, 71px);
      }

      &_snow {
        @include weather_pic(-80px, -150px, 72px, 72px);
      }

      &_light-rain {
        @include weather_pic(-162px, -150px, 74px, 60px);
      }

      &_rain {
        @include weather_pic(-250px, 0, 74px, 60px);
      }

      &_sleet {
        @include weather_pic(-250px, -75px, 74px, 62px);
      }
    }
  }
}