@import "../../bower_components/normalize.css/normalize.css";
@import "fonts.scss";
@import "form.scss";
@import "b-dashboard.scss";


$font_family: 'Lintel', sans-serif;
$font_size: 23pt;
$min_page_width: 1024px;
$min_page_height:568px;


.main-page {
  min-width: $min_page_width;
  height:100vh;
  min-height:$min_page_height;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #262626;
  padding-left: 1.5%;
  color: #fff;
  font-family: $font_family;
  font-size:$font_size;
}

.info {
  margin-top: 170px;
  float:left;
  width: 35%;

  &__time{
    margin-bottom: 40px;
  }
  &__time-value{
    display:inline-block;
    vertical-align:top;
    font-size: 5em;
    font-weight: bold;
    line-height: 0.6em;
  }
  &__time-notation{
    font-size: 0.9em;
    display:inline-block;
    vertical-align:top;
    margin-left: -12px;
    text-transform: uppercase;
    line-height: 0.9em;
    position: relative;
    top:-10px;
  }
  &__day{
    margin: 65px 0;
  }
  &__location{
    padding-left: 40px;
    background: url("../img/icon-loc.png") no-repeat;
  }

  &__city{
    height: 24px;
    line-height: 25px;

    padding-bottom: 5px;
    padding-left: 2px;
    font-size: 1em;
  }
  &__country {
    padding-top: 5px;
    font-size: 0.6em;
  }
}

.forecast {
  height:100%;
  width: 63%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:right;
}


.forecast-item {
  height: 100%;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;


  &__day{
    height:15%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 0;
    text-align: center
  }

  &__day-date {
    vertical-align: middle;
    display: inline-block;
  }

  &__day-date-header {
    font-size: 1em;
  }
  &__day-date-value {
    font-size: 0.6em;
  }
}

.weather{
  height:85%;
  text-align: center;

  &_fog {
     background-color: #75608b;
  }
  &_snow-fall {
    background-color: #1a6698;
  }

  &_partly-cloudy{
    background-color: #F1854B;
  }

  &_mostly-cloudy {
     background-color: #1d9e48;
  }

  &_sunny {
     background-color: #f2385a;
  }

  &_downpour {
    background-color: #675680;
  }

  &_rain-and-sun {
    background-color: #E9B841;
  }

  &_light-rain {
    background-color: #BDA881;
  }

  &_rain {
    background-color: #999999;
  }

  &_snow {
    background-color: #375D81;
  }

  &_sleet {
    background-color: #36B1BF;
  }

  &__pic {
    height:28vh;
    min-height: 150px;
    text-align: center;
    background: no-repeat 50%;
    &:after {
      display: inline-block;
      height: 28vh;
      width: 0;
      vertical-align: middle;
      content: '';
    }
  }

  &__pic-status{
    background: url("../img/weather_state.png") no-repeat;
    vertical-align: middle;
    display: inline-block;


    &_fog{
      background-position: 0 0;
      width: 142px;
      height: 108px;
    }

    &_snow-fall{
      background-position: -160px 0;
      width: 148px;
      height: 122px;
    }

    &_partly-cloudy{
      background-position: -325px 0;
      width: 170px;
      height: 112px;
    }

    &_sunny{
      background-position: -1px -300px ;
      width: 142px;
      height: 142px;
    }

    &_downpour{
      background-position: 0 -150px ;
      width: 148px;
      height: 101px;
    }

    &_mostly-cloudy{
      background-position: -160px -150px ;
      width: 148px;
      height: 90px;
    }

    &_rain-and-sun{
      background-position: -325px -150px ;
      width: 170px;
      height: 142px;
    }

    &_snow{
      background-position: -160px -300px ;
      width: 143px;
      height: 144px;
    }

    &_light-rain{
      background-position: -325px -300px ;
      width: 148px;
      height: 120px;
    }

    &_rain{
      background-position: -500px 0;
      width: 148px;
      height: 120px;
    }

    &_sleet{
      background-position: -500px -150px ;
      width: 148px;
      height: 123px;
    }
  }


  &__temperature {
    padding: 55px 0;
  }

  &__temperature-day {
      display: inline-block;
      font-size: 3.1em;
      font-weight: bold;
      height: 73px;
      line-height: 74px;
      vertical-align: bottom;
  }

  &__temperature-night {
      display: inline-block;
      vertical-align: bottom;
      text-align: left;
      padding-left: 14px;
  }

  &__temperature-night-value {
    height: 26px;
    line-height: 27px;
    font-size: 1.2em;
  }

  &__temperature-night-header {
    font-size: 0.6em;
    padding-bottom: 20px;
  }

  &__status {
      text-transform: capitalize;
      height: 31px;
      line-height: 32px;
  }

  &__additional {
      display: inline-block;
      font-size: 0.6em;
      vertical-align: top;
      padding-left: 8px;
      padding-right: 8px;
    position: relative;

  }
  &__additional-direction {
    position: absolute;
    left: 33px;
    top: 75px;
  }
  &__additional-desc {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: 88px;
    width: 63px;
    margin-top: 20px;
    background-repeat: no-repeat;
    &_wind {
      padding-top: 33px;
      background-image: url("../img/wind_direction.png");
      &_n{
        transform-origin: center;
        transform: rotate(0deg);
      }
      &_ne{
        transform-origin: center;
        transform: rotate(45deg);
      }
      &_e{
        transform-origin: center;
        transform: rotate(90deg);
      }
      &_se{
        transform-origin: center;
        transform: rotate(135deg);
      }
      &_s{
        transform-origin: center;
        transform: rotate(180deg);
      }
      &_sw{
        transform-origin: center;
        transform: rotate(225deg);
      }
      &_w{
        transform-origin: center;
        transform: rotate(270deg);
      }
      &_nw{
        transform-origin: center;
        transform: rotate(315deg);
      }
    }

    &_moon {
      margin-top: 33px;
      background: url("../img/moon_state.png") no-repeat;
      &_mn0{
        background-position: 0 0;
        width: 64px;
        height: 63px;
      }

      &_mn1{
        background-position: -72px 0;
        width: 63px;
        height: 63px;
      }

      &_mn2{
        background-position: -150px 0;
        width: 63px;
        height: 63px;
      }

      &_mn3{
        background-position: -230px 0;
        width: 63px;
        height: 63px;
      }

      &_mn4{
        background-position: -300px 0;
        width: 63px;
        height: 63px;
      }

      &_mn5{
        background-position: -375px 0;
        width: 63px;
        height: 63px;
      }
    }
  }

  &_additional-desc {
      position: absolute;
      top: 75px;
      left: 26px;
  }

}





