@mixin wind($angle) {
  content:"";
  display:block;
  background: url("../img/wind_direction.png") no-repeat 50%;
  height: 88px;
  width: 68px;
  position:absolute;
  top:17px;
  transform-origin: center;
  transform: rotate($angle);
}

@mixin humidity($x, $y) {
  background-position: $x $y;
  width: 78px;
  height: 78px;
}

@mixin moon($x, $y) {
  background-position: $x $y;
  width: 64px;
  height: 63px;
}