.popup {
  position: absolute;
  width: 300px;
  height: 234px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 60px 80px;
  overflow: hidden;
  background-color: #262626;
  color: #000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}
.popup__label {
  display: block;
  height: 30px;
  color: #fff;
  font-weight: 200;
}
.popup__login-pwd {
  display: block;
  width: inherit;
  height: 40px;
  margin: 6px 0 21px 0;
  border: none;
  padding: 0;
  font-weight: 600;
}
.popup__submit {
  position: relative;
  width: 70px;
  height: 40px;
  margin: 0 0 0 230px;
  border: none;
  padding: 0;
  background-color: #6cb0bd;
  color: #000;
  font-weight: 400;
  line-height: 30px;
}

html {
  height: 100%;
}

.b-screen-indent {
  height: 40px;
  background-color: #000;
}

.b-wrapper {
  height: 100%;
  /* min-height: 100%;
     height: auto !important; */
  /*IE and so on*/
}
.b-wrapper_snowfall {
  background-color: #82a8c4;
}
.b-wrapper_snow {
  background-color: #375d81;
}
.b-wrapper_default {
  background-color: #9c9;
  border: 1px solid #f00;
}

.b-header {
  display: block;
  height: 120px;
  padding: 50px 20px 0 45px;
  background-color: #009;
  border-left: 5px solid #fff;
}

.b-settings {
  height: 55px;
  width: 55px;
  border: none;
}
