.mobile-control{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  padding: 0 20px 0;
  box-sizing: border-box;
  &__list{
    display: block;
    margin-left:auto;
    margin-right:auto;
  }
  &__indicator{
    background:no-repeat;
    height:13px;
    width: 13px;
    display: inline-block;
    &_active{
      background-image: url("../img/indicator_active.png");
    }
    &_passive{
      background-image: url("../img/indicator_passive.png");
    }
  }
  &__arrows{
    width: 100%;
    box-sizing: border-box;
    margin: 220px 0 60px;
    height:105px;
  }
  &__arrow{
    background:no-repeat;
    height:105px;
    width: 47px;

    &_left{
      background-image: url("../img/left_arrow.png");
      float: left;
    }
    &_right{
      background-image: url("../img/right_arrow.png");
      float: right;
    }
  }
}