@import 'normalize.css';
@import url('http://fonts.googleapis.com/css?family=Titillium+Web');
$m-page-width: 640px;
$m-page-height: 1096px;
$bg-color-sunny: #f2385a;


$main-font: 'Titillium Web', sans-serif;

*{
	-webkit-box-sizing: border-box ;
	-moz-box-sizing: border-box ;
	box-sizing: border-box ;
}

body{
	font-family: $main-font;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.mobile-forecast{
	position: relative;
	width: $m-page-width;
	height: $m-page-height;
	margin: 0 auto;
	border: 0px solid #fff;
	padding-top: 40px ;
	&__change-day{
		position: absolute;
		top: 50%;
		margin-top: -55px ;
		width: 60px;
		height: 110px;
		&_previous{
			left: 20%;
			background-image: url('../img/app-icons.png') ;
			background-position: 0 0 ;
		}
		&_next{
			right:  20%;
			background-image: url('../img/app-icons.png') ;
			background-position: -90px 0;
		}
	}

	&_sunny{
		background-color: $bg-color-sunny;
	}

	&__settings{
		position: absolute;
		top: 50px;
		left: 40px;
		width: 55px;
		height: 55px;
		background-color: green ;
		background: url('../img/app-icons.png') no-repeat;
		background-position: -155px 0;
	}
	&__title{
		color: #fff;
		font-size: 60/16 + em;
		text-align: center;
	}

	&-temperature{
		margin-top: 20px ;
		padding-left: 120px;
		width: 100%;

		&__at-day{
			position: relative;
			display: inline-block;
			color: #fff;
			font-size: 310/16 + em;
			line-height: 1em; 
			&:after{
				content:''	;
				position: absolute;
				width: 20px;
				height: 20px;
				bottom: 70%;
				left: 100%;
				display: block;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				border: 5px solid #fff;
			}
		}
		&__at-night{
			&:before{
				content: "Night";
				position: absolute;
				top: -50%;
				font-size: 40/60 + em;
			}
			display: inline-block;
			position: relative;
			color: #FFF;
			font-size: 60/16 + em;
		}
	}
	&-weather-condition{
		height: 350px;
		&__logo{
			width: 200px;
			height: 200px;
			margin: 0 auto;
			background-color: green;
			background:  url('../img/weather-conditions.png') no-repeat;  
			&_sunny{
				background-position: -215px -640px;
			}
		}
		&__title{
			color:#fff;
			font-size: 60/16 + em;
			text-align: center; 
		}

	}
	&-day-list{
		min-width: 50%;
		width: 60%;
		height: 30px;
		margin: 0 auto;
		&__item{
			display: inline-block;
			list-style: none ;
			width: 10px;
			height: 10px;
			margin: 0 15px;
			border: 6px solid #fff;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			vertical-align: middle; 
			&_active{
				width: 15px;
				height: 15px;
				border: px solid #fff;
			}
		}
	}
	&-additional-info{
		float: left;
		width: 33.333%;
		height: 200px;
		&__title{
			font-size: 40/16 + em;
			color: #FFF ;
			text-align: center ;
		}
		&__logo{
			width: 90px;
			height: 90px;
			margin: 0 auto ;
			background-color: blue ;
			background-image: url('../img/') 
		}

	}
}

