@import 'normalize.css';
@import url('http://fonts.googleapis.com/css?family=Titillium+Web');
@import 'elements/fonts';
@import 'core/var';
@import 'elements/login-form';
@import 'elements/logout-form';



*{
    -webkit-box-sizing: border-box ;
       -moz-box-sizing: border-box ;
            box-sizing: border-box ;
}



html{
    width: 100%;
    height: 100%;
    background-color: $grey;
}

body{
    font-family: $main-font;
    font-size: 100%;

    width: 100% ;
    height: 100%;
}

.hide{
    display: none;
}


.main-page{
  width: 100%;
  height: 100%;

}

.main-page-content{
    width: 100%;
    max-width: 1920/16 + em;
    height: 100%;
    min-height: 700/16 + em;
    margin: 0 auto;
}

.mobile{
  display: none; //to hide all buttons of mobile version
}

.user-info{
    float: left;

    width: 37%;
    height: 100%;
    padding-top: 1%;
    padding-left: 6em;

    background-color: $grey;
    &-hello{
        font-size: 24/16 + em;

        color: #fff ;
    }
    &-time{
        font-size: 115/16 + em;

        position: relative; // "am/pm" part of time view is positioned abolute

        display: inline-block;

        margin-top: .5em;

        color: #fff;
        &__day-part{
        font-size: 1/5 + em;

        position: absolute;
        top: 17%;
        left: 100%;

        height: 10%;

        text-transform: uppercase ;

        color: #fff;
        }
    }

    &__date{
        font-size: 20/16 + em;

        margin-top: 10% ;

        color: #fff;
    }
    &-location{
        margin-top: 10%;
        background: url('../img/app-icons.png') no-repeat -84px 0;

        &__city{
            &_mobile{
              display: none;
            }
            font-size: 20/16 + em;
            margin-left: 40px;
            color: #fff;
        }
        &__country{
            font-size: 14/16 + em;
            margin-left: 40px ;
            color: #fff;
        }
    }
}

.forecast{
    position: relative;// used for changing order of elements in mobile version("temperature" position absolute)
    float: left;
    width: 21%;
    height: 100%;
    padding-bottom: 2em ;
    background-color: #333;


    &_sun{
      background-color: #F2385A;
      & .forecast-weather__logo {
        background-position: -210px 0;
      }
    }
    &_downpour{
      background-color: #675680;
      & .forecast-weather__logo {
        background-position: -420px 0;
      }
    }

    &_mostly-cloudy{
      background-color: #1D9E48;
      & .forecast-weather__logo {
        background-position: -630px 0;
      }
    }
    &_partly-cloudy{
        background-color: #F1854B;
        & .forecast-weather__logo{
          background-position: -840px 0;
        }
    }
    &_rain-and-sun{
      background-color: #E9B841;
      & .forecast-weather__logo{
        background-position: -1050px 0;
      }
    }
    &_light-rain{
      background-color: #BDA881;
      & .forecast-weather__logo{
        background-position: -1260px 0;
      }
    }

    &_rain{
      background-color: #999999;
      & .forecast-weather__logo{
        background-position: -1470px 0;
      }
    }
    &_snow{
      background-color: #375D81;
      & .forecast-weather__logo{
        background-position: -1680px 0;
      }
    }
    &_snow-fall{
        background-color: #82A8C4;
        & .forecast-weather__logo{
            background-position: -1890px 0 ;
        }
    }
    &_sleet{
      background-color: #82A8C4;
      & .forecast-weather__logo{
        background-position: -2100px 0;
      }
    }
    &_fog{
        background-color: #75608b;
        & .forecast-weather__logo{
            background-position: -2310px 0;
        }
    }


    &-header{
        width: 100%;
        height: 15% ;
        padding-top: 25px;
        background-color: $grey;
        &__day-of-week{
            font-size: 20/16 + em;
            text-align: center;
            color: #fff;
        }
        &__date{
            font-size: 14/16 + em;
            text-align: center;
            color: #fff;
        }
    }
    &-weather{
        width: 100%;
        height: 25%;
        min-height: 250px ;
        margin-top: 45px;
        &__logo{
            width: 200px;
            height: 200px;
            margin: 0 auto;

            background: url('../img/weather-conditions_horiz.png') no-repeat 0 0;
        }
        &__description{
            font-size: 20/16 + em;
            margin-top: 30px;
            text-align: center;

            color: #fff;
        }
    }
    &-temperature{
        width: 100%;
        height: 15%;
        min-height: 130px ;
        margin-top: 20px ;
        margin-left: auto ;

        text-align: center ;
        &__at-day{
            font-size: 70/16 + em;
            display: inline-block;
            color: #fff;
        }
        &-at-night{
            font-size: 24/16 + em;

            display: inline-block;

            color: #fff;
            &__title{
                font-size: 14/20 + em;
            }
        }
    }
    &-extra-info{
        float: left;
        width: 50%;
        height: 10%;
        margin-top: 30/16 + em;

        &_humidity-1{
          display: none; //hides "humidity" in desktop and tablet version
          & .forecast-extra-info__logo {
            background: url("../img/humid.png") no-repeat 0 0;
          }
        }

        &_humidity-2{
          display: none;
          & .forecast-extra-info__logo {
            background: url("../img/humid.png") no-repeat -58px 0;
          }
        }

        &_humidity-3{
          display: none;
          & .forecast-extra-info__logo {
            background: url("../img/humid.png") no-repeat -116px 0;
          }
        }

      &__wind{
          & .forecast-extra-info__logo {
            text-transform: uppercase ;
            line-height: 48px;
            background: url('../img/wind-dir-48.png') no-repeat;
          }

          &_n{
            & .forecast-extra-info__logo {
              background-position: 0 0;
            }
          }

          &_ne{
            & .forecast-extra-info__logo {
              background-position: -58px 0;
            }
          }

          &_e{
            & .forecast-extra-info__logo {
              background-position: -116px 0;
            }
          }

          &_se{
            & .forecast-extra-info__logo {
              background-position: -174px 0;
            }
          }

          &_s{
            & .forecast-extra-info__logo {
              background-position: -232px 0;
            }
          }

          &_sw{
            & .forecast-extra-info__logo {
              background-position: -290px 0;
            }
          }

          &_w{
            & .forecast-extra-info__logo {
              background-position: -348px 0;
            }
          }

          &_nw{
            & .forecast-extra-info__logo {
              background-position: -406px 0;
            }
          }
      }


        &_moon-1{ //All other moon states will be added as soon as we will need them. I have not done it yet ,
                  //because there are thirty of them, and now we use only one of them.
          & .forecast-extra-info__logo {
            background: url('../img/moon-conditions.png') no-repeat  -180px -5px;
          }
        }

        &__title{
            font-size: 1em;
            text-align: center;
            color: #fff ;
        }
        &__logo{
            font-size: .8em;
            width: 48px;
            height: 48px;
            margin-top: 20px;
            margin-right: auto ;
            margin-left: auto ;

            text-align: center;
            vertical-align: middle;

            color: #fff;
        }
    }
}

//Tablet version 1280 * 720
@media only screen and (max-width: 1280px)
      //and (orientation: landscape) // if user has screen height more than 571px and this option is on, browser switch
      //view to desktop version, even if screen width less than 1280px. So I have turned this option off
        and (-webkit-min-device-pixel-ratio: 1)
{
    .main-page-content{
        width: 100% ;
        min-height: 720px;
    }

    .user-info{
        width: 100%;
        height: 10%;
        min-height: 70px ;
        padding-right: 1em ;
        padding-left: 1em ;

        &-time{
            font-size: 40/16 + em ;
            line-height: .8em ;

            float: left;

            margin-top: 0 ;
            &__day-part{
                 top: -30%;
            }
        }

        &-location{
          margin-right: 40px;
        }
        &-hello{
            float: right;
            padding-right: 40px;

            min-width: 150px;

          .logout-form__submit{
            margin-right: 0;
          }
        }
        &__date{
            display: none;
        }
        &-location{
            float: right;

            margin-top: 0 ;
        }
    }

    .forecast{
        width: 33.333%;
        height: 90%;
        min-height: 650px;
        &-weather
        {
            margin-top: 0 ;
            &__description{
                margin-top: 0 ;
            }
        }
    }
}

@media only screen
  //and (min-device-width: 320px)
  //I have decided to do not use this constraint, because I think in that way App will
  //be more flexible, but I understand, we need such constraint to target Iphone 5.
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  //and (orientation: portrait)
{
    .main-page-content{
        // margin-left: -320px ; // to see "today" state
        // margin-left: -640px;  // to see "tomorrow" state
        // I assume that I will change days by adding margins to main-page
        // Now by default is "yesterday" state
        // WORKS ONLY WITH IPHONE 5 screen resolution

        min-width: 960px;
        min-height: 568px;
        height:100%;
        width: 100%;
    }

    .user-info{
      display: none;
        &-location{
          &__city{
            &_mobile{
              display: inline; //shows "in Kiev" in  mobile version
            }
          }
        }
    }

  .main-page{
    overflow: hidden;
    min-height: 568px;
    min-width: 320px;
    position: absolute;
    z-index: 20;

    width:100%;
    height: 100% ;
  }

  .mobile{
    display: block; //to show all extra elements of  mobile version

    &__settings{
      position: absolute;
      z-index: 30;
      top: 24px;
      left: 21px;

      width: 32px;
      height: 32px;

      background: url('../img/app-icons.png') no-repeat -42px 0;
    }

    &__change-day{
      position: absolute;
      z-index: 30; //to show navigation arrows under content
      top: 43%;
      width: 30px;
      height: 67px;

      &_previous{
        left: 5%;
        background: url('../img/arrows.png') no-repeat 0 0 ;
      }
      &_next{
        right: 5%;
        background: url('../img/arrows.png') no-repeat -40px 0;
      }

      &_hide{
        display: none;
      }
        
    }
    &-day-list{
      position: absolute;
      z-index: 30;
      top: 70%;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      padding: 0;
      &__item{
        display: inline-block;

        width: 7px;
        height: 7px;
        margin: 0 15px;
        list-style: none ;
        vertical-align: middle;
        border: 4px solid #fff;
        border-radius: 50%;
        &_active{
          width: 12px;
          height: 12px;

          border: 3px solid #fff;
        }
      }
    }
  }


    .forecast{
        position: absolute;
        z-index: 10;
        width: 100% ;
        height: 100%;
        min-width: 320px;
        min-height: 568px;
        padding-bottom: 0 ;

        &-header{
            padding-top: 20px;
            height:40%;
            background: none ;
            &__day-of-week{
              font-size: 2em;
              min-width: 6.5em;
              width: 60%;
              max-height: 2.5em;
              overflow: hidden;
              margin: 0 auto;

            }
            &__date{
              display: none;
            }
        }
        &-weather{
            min-height: 50px;
            margin: 0 ;
            height: 25% ;
            &__description{
              font-size: 2em;
            }
            &__logo{
              width: 100px;
              height: 100px;
              background-size: 1465px 100px;
            }

        }


      &_sun{ //for iphone 5 I use the same image, but I decrease it's view to 100px * 100px from 200px*200px
        // So we have the same sight on Retina, as on desktop
        & .forecast-weather__logo {
          background-position: -105px 0;
        }
      }

      &_downpour{
        & .forecast-weather__logo {
          background-position: -210px 0;
        }
      }

      &_mostly-cloudy{
        & .forecast-weather__logo {
          background-position: -315px 0;
        }
      }
      &_partly-cloudy{
        & .forecast-weather__logo{
          background-position: -420px 0;
        }
      }

      &_rain-and-sun{
        & .forecast-weather__logo{
          background-position: -525px 0;
        }
      }

      &_light-rain{
        & .forecast-weather__logo{
          background-position: -630px 0;
        }
      }

      &_rain{
        & .forecast-weather__logo{
          background-position: -735px 0;
        }
      }

      &_snow{
        & .forecast-weather__logo{
          background-position: -840px 0;
        }
      }
      &_snow-fall{
        & .forecast-weather__logo{
          background-position: -945px 0 ;
        }
      }

      &_sleet{
        & .forecast-weather__logo{
          background-position: -1050px 0;
        }
      }
      &_fog{
        & .forecast-weather__logo{
          background-position: -1155px 0;
        }
      }


      &-temperature{
        position: absolute;
        top: 70px;
        min-height: 5%;
        margin: 0 ;
        &__at-day{
          position: relative;
          font-size: 9em;
          &:after{
            position: absolute;
            bottom: 70%;
            left: 110%;

            display: block;

            width: 10px;
            height: 10px;

            content: ''  ;

            border: 2px solid #fff;
            border-radius: 50%;
          }
        }
      }
        &-extra-info{
          margin-top: 90px;
            width: 33.333%;
            &_humidity-1{
                display: block;// shows "humidity" in mobile version
            }

            &_humidity-2{
                display: block;// shows "humidity" in mobile version
            }

            &_humidity-3{
                display: block;// shows "humidity" in mobile version
            }
        }
    }
}

.m-forecast_active{
          z-index: 20;    }
