<div class="mobile-control">
    <div class="mobile-control__arrows">
        <div class="mobile-control__arrow mobile-control__arrow_left"></div>
        <div class="mobile-control__arrow mobile-control__arrow_right"></div>
    </div>
    <div class="mobile-control__list">
        <div class="mobile-control__indicator mobile-control__indicator_active">

        </div>
        <div class="mobile-control__indicator mobile-control__indicator_passive">

        </div>
        <div class="mobile-control__indicator mobile-control__indicator_passive">

        </div>
    </div>
</div>