<div class="popup__overlay" id="popup__overlay">
        <form action="" class="login-form">
            <label for="name" class="login-form__label">Login:</label>
            <input type="text" id="name" class="login-form__input" autofocus>

            <label for="password" class="login-form__label">Password:</label>
            <input type="password" id="password" class="login-form__input">

            <input type="button" value="Log in" class="login-form__submit-button" id="submit-button">
        </form>
</div>