@import "globalVariables.scss";
@import "globalMixins.scss";
*{
  //border:1px dotted white;
  //box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  //&:after{
  //  content: '';
  //  clear: both;
  //  visibility: hidden;
  //  display: block;
  //  height: 0;
  //}
}

.main-content{
  background-color: #262626;
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100%;
  //&:after{
  //  content: '';
  //  clear: both;
  //  visibility: hidden;
  //  display: block;
  //  height: 0;
  //}
}

@import "login-form/login-form.scss";
@import "header-main/header-main.scss";
//@import "!weather-wrapper/weather-wrapper.scss";
//@import "!weather-header/weather-header.scss";
@import "weather-screen/weather-screen-1280-inf";
@media screen and (max-width: 1280px) {
  @import "header-main/header-main-0-1280.scss";
  @import "weather-screen/weather-screen-980-1280";
}
@media screen and (max-width: 980px) {
  @import "header-main/header-main-0-980.scss";
  @import "weather-screen/weather-screen-0-980";
}