@for $i from 1 through 4{
  .col-#{$i}{
    width: 100%;
    height: 100%;
    position: absolute; //to display data on right place
    z-index: $i;
  }
}

.info{
  //position: relative;
  display: none;
  @include clearfix('info');
  &__header{
    display: none;
  }
  &__datetime{
    //position: relative;
    //height: 100%;
    //min-height: 0;
    //width: 30%;
    //float: left;
    display: none;
    &_time{
      font-size: 48px;
      height: 58px;
      @include center-vertical;
      &_midday{
        font-size: 18px;
        position: absolute;
        right: -30px;
        top: 8px;
      }
      &_wrapper{
        //@include center-vertical;
        position: relative;
        //display: inline-block;
        width: auto;
        height: 100%
      }
    }
    &_date{
      display: none;
    }
  }
  &__location {
    height: 100%;
    min-height: 0;
    position: relative;
    width: 30%;
    float: right;
    @include clearfix('info__location');
    &_wrapper{
      float: right;
      position: relative;
      margin-right: 10px;
    }
  }
}

.weather{
  z-index: 1;
  &__header{
    height: 12%;
    position: absolute;//to display data on right place
    z-index: 2;
    &_settings{
      display: block; //to display element correctly
      width: 100px;
      height: 100px;
      background-image: url("../icons/interface/settings.png");
      background-repeat: no-repeat;
      background-size: cover;
      left: 5%;
      top: 3%;
      position: absolute; //to display data on right place
      z-index: 5;
    }
    &_header {
      font-size: 100px;
      //background-color: #1d9e48;
    }
    &_date{
      display: none;
    }
  }
  &__navigation{
    &_lt, &_gt {
      display: inline-block; //to display elements correctly
      position: absolute; //to display data on right place
      font-size: 300px;
      top: 38%;
      z-index: 5;
      font-family: 'Lintel', sans-serif;
      color: white;
    }
    &_lt{
      left: 50px;
    }
    &_gt{
      right: 50px;
    }
  }
  &__info{
    height: 100%;
    min-width: 0;
    &_temperature{
      top: -27%;
      &_day{
        font-size: 350px;
      }
      &_night{
        font-size: 150px;
      }
      &_caption{
        font-size: 80px;
        top: -160px;
      }
      &_washer{
        width: 80px;
      }
    }
    &_state{
      top: 30%;
    }
    &_caption{
      font-size: 120px;
    }
    &_misc{
      &_caption{
        font-size: 80px;
      }
      &_icon{
        //@include center-horizontal-and-vertical;\
        //position: relative;
        top: 150%;
        width: 100px;
        height: 140px;
        margin: auto;
      }
      &_wrapper{
        //position: relative;
        //left: 0;
        width: auto;
        height: 100px;
        //transform: translate(0,0);
        @include center-horizontal-and-vertical;
      }
      &_humidity{
        //position:static;
        float: left;
        display: block; //for humidity display (default is nome)
        margin-right: 100px;
      }
      &_wind{
        //position:static;
        float: left;
        margin-right: 100px;
      }
      &_moon{
        //position: static;
        float: left;
      }
    }
  }
}
.humidity-average{
  background-image: url('../icons/humidity-icons/weather_drop_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 140px;
  height: 140px;
}