.weather-header{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  color: #fff;
  position: relative;
  height: 100%;
  width: 100%;
  &__caption{
    font: inherit;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    &_name{
      font: inherit;
      font-size: 36px;
    }
    &_date{
      font: inherit;
      font-size: 20px;
    }
  }
  
}